<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/indexStyle.css}">
  <title>Leilão de veículos</title>
</head>

<body>

  <div class="header">
    Leilão de veículos do Bruno - Seja bem vindo! <span th:if="${session.user != null}"
      th:text="${session.user.nome}"></span>
    <a href="/login" th:if="${session.user == null}">Login</a>
    <a href="/logout" th:if="${session.user != null}">Logout</a>
  </div>

</body>

</html>