<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <form action="/login" method="POST" th:object="${user}">
        <label for="email">Email:</label>
        <input type="email" th:field="*{email}" id="">
        <br>
        <label for="senha">Senha:</label>
        <input type="password" th:field="*{senha}" id="">
        <button type="submit">Entrar</button>
    </form>
</body>

</html>